@font-face {
    font-family:dingtalk ;
    src: url("../ttf/DingTalk JinBuTi.ttf");
}
#bc{  
    width: 100%;  
    height: 100%;
    position: fixed;  
    right: 0px;  
    bottom: 0px;  
    z-index: -11;
}
.header{
    display: flex;
    justify-content: flex-end;
}
.header a{
    text-decoration: none;
    color: #7796eb;
}
.header a p{
    display: flex;
    margin: 0 10px 0 0;
    font-size: 20px;
}
.header a p:hover{
    transition: 0.2s;
    color: #f8f1b0;
}